# Ambiente Virtual (ignora a pasta inteira e seus milhares de arquivos)
venv/
.venv/
env/

# Variáveis de ambiente (ignora suas senhas e tokens)
.env

pycache/
init__.pyc
__pycache__/
*.pyc
outputs/
logs/
generator_runtime/target/training/
generator_runtime/target/tracking/
generator_runtime/*.jar
generator_runtime/target/benign_data/*
